<div class=" mt-5 flex flex-col justify-start">
    <label for="name" class=" font-medium text-lg text-neutral-200 py-1">
        Hero name:
    </label>
    <!-- [(ngModel)] is Angular's two-way data binding syntax.
    Here it binds the hero.name property to the HTML text box so that data can flow in both directions. Data can flow from the hero.name property to the text box and from the text box back to the hero.name. -->
    <input id="name" [(ngModel)]="hero.name" placeholder="name"
        class=" border-2 border-yellow-300 rounded-xl bg-transparent text-xl p-2 text-yellow-300 font-medium">
</div>